# {{ ansible_managed }}

server {
    listen {{ nginx_default_vhost_port }};
    server_name {{ nginx_default_vhost_server_name }};

    root {{ nginx_default_vhost_root }};
    index index.html index.htm;

    access_log {{ nginx_default_vhost_access_log }};
    error_log {{ nginx_default_vhost_error_log }};

    location / {
        try_files $uri $uri/ =404;
    }
}
