# {{ ansible_managed }}

server {
    listen {{ nginx_default_vhost_port }};
    server_name {{ nginx_default_vhost_server_name }};

    root {{ nginx_default_vhost_root }};
    index index.html index.htm;

    location / {
        try_files $uri $uri/ =404;
    }
}
